body {
    font-family: Arial, Helvetica, sans-serif;
}
.form-container {
    background-color: rgb(23, 230, 230);
    border-radius: 10px;
    padding: 1.5rem;
    width: 20%;
    margin-left: 30%;

}


input,textarea{
    width: 90%;
    padding: 1em;
    margin-bottom: 2%;
    display: block;
    text-align: center;
}

label {
    display: block;
    text-align: center;
    margin: auto auto;
    color: black;
}

input {
    height: 2em;
    margin: 1em auto;
}

textarea {
    margin: 1em auto;
}


button {
    background-color: green;
    color: white;
    padding: 1.5%;
    width: 15%;
    border-radius: 5px;
    border: 2px solid green;
    font-size: 1rem; 
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;
}

button:hover{
    background-color: blue;
    border: 2px solid blue;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 5%;
}

/* .form-container label {
    margin: 0.9rem 0;
    display: block;
    text-align: center;
    margin-top: 5%;
    width: 100%;
    min-height: 2em;
} */
